/* All */
body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Fixed Nav Bar */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
}

nav {
    text-align: right;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav span {
    padding: 20px 10px;
}

a {
    color: seashell;
}

/* Mission Info */
#mission {
    height: 700px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.content {
    margin: auto;
    background-color: black;
    width: 100%;
    background-size: 1200px 100%;
    text-align: center;
}

/* Shopping Info */
.item img {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}

.item {
    text-align: center;
}

.monthly-tea {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    
}

/* locations */
#locations {
    height: 500px;
    width: auto;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}

.title{
    display: block;
    text-align: center;
}

.address-block {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
}

.address {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    width: 300px;
    padding: 15px 10px;
    margin: 15px 40px;
    opacity: 1;
    line-height: 60px;
}
/* Contact Information */
#contacts-block {
    height: 200px;
    width: auto;
}

#contacts {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    line-height: 20px;
}
#copyright {
    text-align: left;
    padding: 20px;
}
